body#home
  #content
    padding-top: 57px

    .section
      position: relative
      margin: 0px auto 0px
      width: 1051px
      height: 727px
      overflow: hidden
      .line
        width: 300%
        height: 100%
        position: relative
        .slide
          display: inline-block
          position: relative
          width: 1051px
          h2
            margin: 14px 0 23px
            font-size: 34pt
            letter-spacing: -0.5px
          .message
            letter-spacing: 0.19px
            font-size: 7pt
    .buttons
      margin: 60px 0 0
      background: #E4E4E9
      .but:nth-child(1)
        width: 33.335%
      .but:nth-child(2)
        width: 33.334%
      .but:nth-child(3)
        width: 33.335%
    .but
      font-size: 8pt
      text-align: center
      display: inline-block
      height: 52px
      line-height: 40px
      background: $bg2
      color: $bg2/3
      cursor: pointer
      outline: none
      border: none
      &.active
        background: $bg2/1.05
      &:hover
        background: $bg2/1.1
      &:active
        background: $bg2/1.15